
<!-- Footer -->
<footer class="footer" id="footer" style="background-color: white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="copyright"
          >Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span
        >
      </div>
      <!-- Social Media -->
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for link in site.data.sitetext[site.locale].footer.social %}
          <li class="list-inline-item">
            {% if link.url %}
            <a href="{{ link.url }}">
              {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
      <!-- Legal -->
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="legal"
              >{{ site.data.sitetext[site.locale].footer.legal | default:
              "Privacy Policy" }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div><br/><br/><br/><br/>
</footer>
{% if page.layout == "page" %}
<script>
  fixPageShort();
  function fixPageShort() {
    if (window.innerHeight > document.body.offsetHeight) {
      document.getElementById("footer").style.position = "fixed";
      document.getElementById("footer").style.bottom = 0;
      document.getElementById("footer").style.right = 0;
      document.getElementById("footer").style.left = 0;
      document.getElementById("footer").style.width = "100%";
    }
  }
</script>
{% endif %}

<script>
window.addEventListener("load", MyLoadHandler);
window.addEventListener("resize", MyLoadHandler);

function MyLoadHandler() {
	document.getElementById("page-top").style.color = "#1C4587";

	if(window.outerWidth > window.outerHeight) {
		var selector = document.getElementById("project3-video1-v1").style;
		selector.visibility = "hidden";
		selector.display = "none";
		var selector = document.getElementById("project3-video1-v2").style;
		selector.visibility = "visible";//300
		selector.display = "inline";//167
		var selector = document.getElementById("project3-video2-v1").style;
		selector.visibility = "hidden";
		selector.display = "none";
		var selector = document.getElementById("project3-video2-v2").style;
		selector.visibility = "visible";//300
		selector.display = "inline";//167
	} else {
		var selector = document.getElementById("project3-video1-v1").style;
		selector.visibility = "visible";
		selector.display = "inline";
		var selector = document.getElementById("project3-video1-v2").style;
		selector.visibility = "hidden";//300
		selector.display = "none";//167
		var selector = document.getElementById("project3-video2-v1").style;
		selector.visibility = "visible";
		selector.display = "inline";
		var selector = document.getElementById("project3-video2-v2").style;
		selector.visibility = "hidden";//300
		selector.display = "none";//167
	}
	console.log(window.outerWidth);
	console.log(window.outerHeight);
	console.log("LoadHandler DONE");
}

function ToggleDisplayQRcode() {
	var selector = document.getElementById("qrcode-modal").style;
	if(selector.visibility == "visible") {
		selector.position = "fixed";
		selector.zIndex = "-30000";
		selector.display = "none";
		selector.visibility = "hidden";
		//var selector = document.getElementById("qrcode-image").style;
		//selector.zIndex = "-20000";
	} else {
		selector.position = "fixed";
		selector.zIndex = "30000";
		selector.display = "block";
		selector.visibility = "visible";
		selector.right = "0";
		selector.left = "0";
		//selector.top = "-50vh";
		selector.bottom = "0";
		selector.width = "100%";
		selector.height = "100vh";
		selector.backgroundColor = "#ffffff";
		selector.padding = "auto";
		//selector.float = "right";
		//var selector = document.getElementById("qrcode-image").style;
		//selector.zIndex = "20000";
	}
	//console.log("ShowQRcode DONE");
}

function ToggleContactForm() {
	var selector = document.getElementById("contact-modal").style;
	if(selector.visibility == "visible") {
		selector.position = "fixed";
		selector.zIndex = "-30000";
		selector.display = "none";
		selector.visibility = "hidden";
		//var selector = document.getElementById("qrcode-image").style;
		//selector.zIndex = "-20000";
	} else {
		selector.position = "fixed";
		selector.zIndex = "30000";
		selector.display = "block";
		selector.visibility = "visible";
		selector.right = "0";
		selector.left = "0";
		//selector.top = "-50vh";
		selector.bottom = "0";
		selector.width = "100%";
		selector.height = "100vh";
		selector.backgroundColor = "#ffffff";
		selector.padding = "auto";
		//selector.float = "right";
		//var selector = document.getElementById("qrcode-image").style;
		//selector.zIndex = "20000";
	}
	//console.log("ShowQRcode DONE");
}

function ToggleTeamMember(teamMember) {
	
	var selector = document.getElementById("team-member").style;
	if(selector.visibility == "visible") {
		selector.position = "fixed";
		selector.zIndex = "-30000";
		selector.display = "none";
		selector.visibility = "hidden";
		//var selector = document.getElementById("qrcode-image").style;
		//selector.zIndex = "-20000";
	} else {
	
		if(teamMember != 'none') {
			if(teamMember == 'Stephen Julian') {
			
			
			}
		}
	
		selector.position = "fixed";
		selector.zIndex = "30000";
		selector.display = "block";
		selector.visibility = "visible";
		selector.right = "0";
		selector.left = "0";
		//selector.top = "-50vh";
		selector.bottom = "0";
		selector.width = "100%";
		selector.height = "100vh";
		selector.backgroundColor = "#ffffff";
		selector.padding = "auto";
		//selector.float = "right";
		//var selector = document.getElementById("qrcode-image").style;
		//selector.zIndex = "20000";
	}
	//console.log("ShowQRcode DONE");
}

</script>


<!-- End Footer -->