<!-- Portfolio Modals -->
{% for project in site.portfolio %}
<div
  class="portfolio-modal modal fade"
  id="p{{ forloop.index }}"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">{{ project.title }}</h2>
              <p class="item-intro text-muted">{{ project.subtitle }}</p>
              <img
                class="img-fluid d-block mx-auto"
                src="{{ project.image }}"
                alt="{{ project.alt }}"
              />
              <p>{{ project.content }}</p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
		<!--
		<div class="close-modal" data-dismiss="modal" style="z-index:40000;position:absolute;display:block;width:100vw;top:0;right:0;height:9vh;overflow-y:visible;">
			<img id="close-icon" style="position:relative;display:block;float:right;margin-top:1vh;margin-right:0;margin-left:auto;width:100%;max-width:7vh;max-height:7vh;z-index:40000;"
				src="assets/img/close-icon.png"
				alt="Close window icon" />
		</div>
		-->

			  
      </div>
    </div>
  </div>
</div>
<div style="position:absolute;display:block;width:100vw;height:12vh;left:0;top:0;margin:0;padding-top:1vh;padding-left:auto;padding-right:1vw;z-index:42000;background-color:transparent;">
	<!--<div style="position:relative;display:block;float:right;width:100%;max-width:9vh;padding-right:1.5vh;z-index:42000;background-color:transparent;">-->
		<!--<a href="javascript:ToggleContactForm();" style="position:relative;display:block;float:right;margin-top:0px;margin-left:auto;margin-right:auto;padding-left:auto;padding-right:1.5vh;padding-top:1vh;width:100%;z-index:39000;background-color:transparent;">-->
			<img id="close-icon" style="position:relative;display:block;float:right;margin-right:1vw;margin-left:auto;margin-top:1vh;width:100%;max-width:9vh;max-height:9vh;z-index:42000;background-color:transparent;"
			src="assets/img/close-icon.png"
			alt="Close window icon" />
		<!--</a>-->
	<!--</div>-->		
</div>	
{% endfor %}
<!-- End Portfolio Modals -->