<!-- Presentation -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].presentation.section | default: "presentation" }}"">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 id="presentationheading" class="section-heading text-uppercase">
          {{ site.data.sitetext[site.locale].presentation.title | markdownify | default: BizKiwi.NZ Presents }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].presentation.text | default: "" }}</h3>
		<div style="width:64vw;height:38.5vw;background-color:#dddddd;padding:0;margin:auto;display:block;z-index:38000;overflow-y:visible;">
			<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTTQI7fkJAW3VbbkALO75j3koHQ60GwOR6sTVUbucxBjWIs5JOKWhgGnGZjsBNd9L-0DU8cPlvZahi2/embed?start=true&loop=true&delayms=3000" frameborder="0" width="64vw" height="38.5vw" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="width:64vw;height:38.5vw;overflow:visible;"></iframe>		
		</div>
	  </div>
    </div>
  </div>
</section>
<!-- End Presentation -->