<!-- Presentation -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].presentation.section | default: "presentation" }}"" style="width:100vw;margin-left:0;margin-right:0;left:0;background-color:#212529;margin-top:0;margin-bottom:0;padding-top:0;">
  <div class="container" style="width:100vw;padding-left:2vw;padding-right:2vw;margin-left:0;margin-right:0;left:0;margin-top:0;margin-bottom:0;padding-top:0;">
    <div class="row" style="width:96vw;padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;margin-bottom:0;margin-top:0;padding-top:0;">
      <div class="col-lg-12 text-center" style="width:96vw;padding-left:auto;padding-right:auto;margin-left:0;margin-right:0;left:0;margin-top:0;margin-bottom:0;padding-top:0;">
        <h2 id="presentationheading" class="section-heading text-uppercase" style="width:82vw;margin-left:auto;margin-right:auto;weight:700;margin-top:0;margin-bottom:0;padding-top:10px;color:#ffffff;">
          <span style="color:#ffffff;">{{ site.data.sitetext[site.locale].presentation.title | markdownify | default: "Introducing" }}</span></a></h2>
		<div style="width:82vw;margin:auto;height:47.5vw;padding:1vw;display:block;z-index:38000;overflow:hidden;background-color:#212529;">
			<iframe src="{{ site.data.sitetext[site.locale].presentation.url }}" frameborder="0" height="45.5vw" width="80vw" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="border-width:1px;border-color:#212529;width:80vw;height:45.5vw;overflow:hidden;margin:0;padding:0;background-color:#ffffff;"></iframe>
		</div>
	  </div>
    </div>
  </div>
</section>
        <!--<h3 class="section-subheading" style="width:82vw;margin:auto;padding-bottom:30px;weight:700;">{{ site.data.sitetext[site.locale].presentation.text | default: "" }}</h3>-->
<!-- End Presentation -->