<!-- Presentation -->
<section class="page-section" id="{{ site.data.sitetext[site.locale].presentation.section | default: "presentation" }}"" style="width:100vw;margin-left:0;margin-right:0;left:0;background-color:#dddddd;margin-top:auto;padding-top:auto;">
  <div class="container" style="width:100vw;padding-left:2vw;padding-right:2vw;margin-left:0;margin-right:0;left:0;margin-top:auto;padding-top:auto;">
    <div class="row" style="width:96vw;padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;margin-bottom:auto;margin-top:auto;padding-top:auto;">
      <div class="col-lg-12 text-center" style="width:96vw;padding-left:auto;padding-right:auto;margin-left:0;margin-right:0;left:0;margin-top:auto;margin-bottom:auto;padding-top:auto;">
        <h2 id="presentationheading" class="section-heading text-uppercase" style="width:82vw;margin-left:auto;margin-right:auto;weight:700;margin-top:0;margin-bottom:auto;padding-top:20px;">
          {{ site.data.sitetext[site.locale].presentation.title | markdownify | default: BizKiwi.NZ Presents }}</h2>
        <!--<h3 class="section-subheading" style="width:82vw;margin:auto;padding-bottom:30px;weight:700;">{{ site.data.sitetext[site.locale].presentation.text | default: "" }}</h3>-->
		<div style="width:82vw;margin:auto;height:47.5vw;padding:1vw;display:block;z-index:38000;overflow-y:visible;background-color:#ffffff;">
			<iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTTQI7fkJAW3VbbkALO75j3koHQ60GwOR6sTVUbucxBjWIs5JOKWhgGnGZjsBNd9L-0DU8cPlvZahi2/embed?start=true&loop=true&delayms=10000&rm=minimal" frameborder="0" height="45.5vw" width="80vw" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" style="border-width:0;width:80vw;height:45.5vw;overflow:hidden;margin:0;padding:0;background-color:#ffffff;"></iframe>
		</div>
	  </div>
    </div>
  </div>
</section>
<!-- End Presentation -->