<!-- QR Code Modal -->
<div
  id="qrcode-modal"
  tabindex="-1"
  role="dialog"
  style="visibility:visible;display:block;z-index:30000;position:absolute;width:100vw;height:100vh;left:0;bottom:0;background-color:#cccccc;overflow-x:visible;overflow-y:visible;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
		<img id="close-icon" style="position:relative;display:block;float:right;width:10%;max-width:180px;max-height:180px;margin-left:auto;margin-right:0;"
			src="assets/img/close-icon.png"
			alt="Close window icon" />
        <!--
		<div class="lr">
          <div class="rl"></div>
        </div>
		-->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Scan QR Code</h2>
              <p class="item-intro text-muted">Scan Code to load site on your Smartphone</p>
              <img id="qrcode-image" style="width:50vw;max-width:300px;height:50vw;max-height:300px;margin-top:20vh;margin-left:auto;margin-right:auto;"
                class="img-fluid d-block mx-auto"
                src="assets/img/bizkiwinz-qrcode.png"
                alt=""
              />
              <p></p>
              <button
                class="btn btn-primary"
                data-dismiss="modal"
                type="button"
              >
                <i class="fas fa-times"></i>
                {{ site.data.sitetext[site.locale].portfolio.closebutton |
                default: "Close Project" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End QR Code Modal -->