<!-- QR Code Modal -->
<div
  id="qrcode-modal"
  tabindex="-1"
  role="dialog"
  style="visibility:visible;display:block;position:relative;width:100vw;left:0;bottom:0;background-color:#cccccc;overflow-x:visible;overflow-y:visible;margin:0;">
  <div class="modal-dialog" style="width:100vw;height:80vh;left:0;bottom:0;margin:0;">
    <div class="modal-content" style="width:100vw;height:80vh;left:0;bottom:0;margin:0;">
      <div class="close-modal" data-dismiss="modal" style="width:100vw;left:0;bottom:0;margin:0;padding-left:auto;padding-right:auto;">
		<div style="float:left;width:86%;">
			<br/><br/>
			<h2 class="text-uppercase" style="text-align:center;">Scan QR Code</h2>
			<p class="item-intro text-muted" style="text-align:center;">Scan Code to load site on your Smartphone</p>
		</div>
		<div style="position:relative;display:block;float:right;width:14%;padding-right:2%;">
			<a href="javascript:ShowQRcode();" style="margin-top:20px;margin-left:auto;margin-right:auto;padding-left:auto;padding-right:auto;padding-top:30px;width:98%;">
				<img id="close-icon" style="position:relative;display:block;float:right;margin-right:0;width:100%;max-width:180px;max-height:180px;margin-left:auto;"
				src="assets/img/close-icon.png"
				alt="Close window icon" />
			</a>
		</div>
        <!--
		<div class="lr">
          <div class="rl"></div>
        </div>
		-->
      </div>
      <div class="container" style="width:100vw;height:60vh;left:0;bottom:0;margin:0;">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <!-- Project Details Go Here -->
              <div style="position:relative;margin-left:14%;width:86%;padding-left:auto;padding-right:auto;">
              <img id="qrcode-image" style="position:relative;display:block;width:70%;max-width:500px;max-height:500px;margin-left:auto;margin-right:auto;"
                src="assets/img/bizkiwinz-qrcode.png"
                alt="QR Code for BizKiwi.NZ website"
              />
			  </div>
			  <div style="position:relative;margin-left:14%;width:86%;padding-left:auto;padding-right:auto;">
			  	  <br /><br />
				  <button
					class="btn btn-primary"
					data-dismiss="qrcode-modal"
					type="button" style="position:relative;margin:auto;display:block;"
				  >
					<i class="fas fa-times"></i>
					{{ site.data.sitetext[site.locale].portfolio.closebutton |
					default: "Go Back" }}
				  </button>

			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End QR Code Modal -->