<!-- QR Code Modal -->
<div
  id="qrcode-modal"
  tabindex="-1"
  role="dialog"
  style="visibility:hidden;display:none;position:relative;width:100vw;height:100vh;left:0;bottom:0;background-color:#ffffff;overflow-x:visible;overflow-y:visible;margin:0;">
  <div style="width:100vw;height:100vh;left:0;bottom:0;margin:0;">
    <div style="width:100vw;height:100vh;left:0;bottom:0;margin:0;">
	
      <div style="position:relative;display:block;width:100vw;height:100vh;left:0;bottom:0;margin:0;">
        <div style="width:100vw;height:100vh;">
          <div style="width:100vw;height:100vh;">
            <div style="width:100vw;height:100vh;position:relative;display:inline;">
			
			  <div style="position:relative;display:inline;float:left;width:100vw;height:10vh;left:0;bottom:0;margin:0;padding-left:auto;padding-right:0;z-index:35000;background-color:#cccccc;">
				<div style="position:relative;display:inline;float:right;width:100%;max-width:9vh;padding-right:2vh;">
					<a href="javascript:ToggleDisplayQRcode();" style="position:relative;display:inline;float:right;margin-top:0px;margin-left:auto;margin-right:auto;padding-left:auto;padding-right:2vh;padding-top:1vh;width:100%;">
						<img id="close-icon" style="position:relative;display:inline;float:left;margin-right:auto;width:100%;max-width:9vh;max-height:9vh;"
						src="assets/img/close-icon.png"
						alt="Close window icon" />
					</a>
				</div>		
			  </div>
	  
              <!-- Project Details Go Here -->
              <div style="position:fixed;display:block;z-index:36000;float:left;width:100vw;height:90vh;margin-top:10vh;padding-left:auto;padding-right:auto;">
				<h2 class="text-uppercase" style="text-align:center;">Scan QR Code</h2>
				<p class="item-intro text-muted" style="text-align:center;">Scan Code to load this site on another device.</p><br />
				  <img id="qrcode-image" style="position:relative;display:block;width:100%;max-width:500px;max-height:500px;margin-left:auto;margin-right:auto;text-align:center;"
					src="assets/img/bizkiwinz-qrcode.png"
					alt="QR Code for BizKiwi.NZ website"
				  />
				  <br /><br />
				  <button
					class="btn btn-primary"
					data-dismiss="qrcode-modal"
					type="button" style="position:relative;margin:auto;display:block;" onclick="ToggleDisplayQRcode();"
				  >
					<i class="fas fa-times"></i>
					Go Back
					<!--
					{{ site.data.sitetext[site.locale].portfolio.closebutton |
					default: "Go Back" }}
					-->
				  </button>
			  </div>
			  <!--
			  <div style="position:relative;float:left;width:100%;height:20vh;padding-left:auto;padding-right:auto;">

			  </div>
			  -->
            </div>
          </div>
        </div>
      </div>
	  <!--
	  <div class="close-modal" data-dismiss="modal" style="position:relative;display:block;float:right;width:100vw;height:20vh;left:0;bottom:0;margin:0;padding-left:auto;padding-right:0;z-index:32000;">
		<div style="position:relative;display:block;float:right;width:20%;padding-right:2%;">
			<a href="javascript:ToggleDisplayQRcode();" style="position:relative;display:block;float:right;margin-top:0px;margin-left:auto;margin-right:auto;padding-left:auto;padding-right:auto;padding-top:20px;width:98%;">
				<img id="close-icon" style="position:relative;display:block;float:left;margin-right:auto;width:100%;max-width:160px;max-height:160px;margin-left:auto;"
				src="assets/img/close-icon.png"
				alt="Close window icon" />
			</a>
		</div>
		-->
        <!--
		<div class="lr">
          <div class="rl"></div>
        </div>
		
      </div>
	  -->
    </div>
  </div>
</div>
<!-- End QR Code Modal -->