<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: 'services' }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title | default: "Services" }}</h2>
          {% if site.data.sitetext[site.locale].services.text %}
			<div class="section-subheading" style="font-weight:700;font-style:italic;">{{ site.data.sitetext[site.locale].services.text }}</div>
		  {% endif %}
		  {% if site.data.sitetext[site.locale].services.subtext %}
			<div style="color:#1C4587;">{{ site.data.sitetext[site.locale].services.subtext }}</div>
		  {% endif %}
        </div>
      </div>
	  <br /><br />
      <div class="row text-center">
	  {% for service in site.data.sitetext[site.locale].services.list %}
        <div class="col-md-4" style="margin:0px;">
		  <div style="float:left;height:200px;padding-left:5%;padding-right:5%;margin:auto;background-color:#dddddd;"><!-- TRBL border-width:0px 2px 2px 2px;border-color:#cccccc;border-style:solid; -->
			  <span class="fa-stack fa-4x" style="height:100%;margin:auto;padding:auto;width:100%;">
				<i class="fas fa-circle fa-stack-2x text-primary"></i>
				<i class="{{ service.icon | default: 'fas fa-shopping-cart' }} fa-stack-1x fa-inverse"></i>
			  </span>
		  </div>
		  <div style="float:left;height:90px;padding-left:5%;padding-right:5%;padding-bottom:5%;background-color:#eeeeee;vertical-align:bottom;">
			  <div class="body-font" style="font-size:28px;width:100%;height:40px;float:left;padding-bottom:0;background-color:#eeeeee;">{{ service.title | markdownify }}</div><!-- class="service-heading"  -->
			  {% if service.desc %}<div class="text-muted" style="font-size:15px;width:100%;height:50px;float:left;vertical-align:top;font-style:italic;background-color:#eeeeee;">{{ service.desc | markdownify }}</div>{% endif %}
		  </div>
	    </div>
	  {% endfor %}
	  <!--
	  <div style="margin:auto;padding-top:10px;padding-left:auto;padding-right:auto;width:100%;">
		<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="margin:auto;color:white;width:200px;" href="{{ site.data.sitetext[site.locale].services.buttonlink }}">{{ site.data.sitetext[site.locale].services.button }}</a>
	  </div>
	  -->
      </div>
    </div>
  </section>
<!-- End Services -->