<!-- Services -->
  <section class="page-section" id="{{ site.data.sitetext[site.locale].services.section | default: 'services' }}">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].services.title | default: "Services" }}</h2>
          {% if site.data.sitetext[site.locale].services.text %}
			<div class="section-subheading" style="font-weight:700;font-style:italic;">{{ site.data.sitetext[site.locale].services.text }}</div>
		  {% endif %}
		  {% if site.data.sitetext[site.locale].services.subtext %}
			<div style="color:#1C4587;">{{ site.data.sitetext[site.locale].services.subtext }}</div>
		  {% endif %}
        </div>
      </div>
	  <br /><br />
      <div class="row text-center">
	  {% for service in site.data.sitetext[site.locale].services.list %}
        <div class="col-md-4">
			<div style="float:left;height:200px;width:100%;background-color:#cccccc;border-width:2px;border-color:#eeeeee;border-style:solid;">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="{{ service.icon | default: "fas fa-shopping-cart" }} fa-stack-1x fa-inverse"></i>
          </span>
		  </div>
		  <div style="float:left;height:100px;width:100%;background-color:#ffffff;top.border-width:2px;top.border-color:#eeeeee;top.border-style:solid;">
          <div class="service-heading" style="font-size:40px;">{{ service.title | markdownify }}</div>
          {% if service.desc %}<div class="text-muted" style="font-size:25px;">{{ service.desc | markdownify }}</div>{% endif %}
		  </div>
		  </div>
	  {% endfor %}
	  <!--
	  <div style="margin:auto;padding-top:10px;padding-left:auto;padding-right:auto;width:100%;">
		<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style="margin:auto;color:white;width:200px;" href="{{ site.data.sitetext[site.locale].services.buttonlink }}">{{ site.data.sitetext[site.locale].services.button }}</a>
	  </div>
	  -->
      </div>
    </div>
  </section>
<!-- End Services -->