// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
  color:#1C4587;
}

p {
  line-height: 1.6;/*1.75;*/
  /*color:#1C4587;*/
}

#presentationheading p {
	color:white;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

#greeting p {
	color:white;
}

.intro-lead-in p {
	color:white;
}

#contactheading p {
	color:white;
}

.btn .btn-primary .btn-xl .text-uppercase .js-scroll-trigger p {
	color:white;
}

.text-primary {
  color: $primary !important;
}

body {
background-image: url('/assets/img/istock/kiwi-and-kiwifruit-v2.jpg');
background-repeat: repeat;
background-size: 100px 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color:#1C4587;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  color:#1C4587;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
	color:#1C4587;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
	color:#1C4587;
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
	color:#1C4587;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}